nav {
    margin-bottom: 30px
}

.save-btn {
    float: right
}

.card {
    .task-title {
        font-size: 15px;
        font-weight: 500;
    }

    .card-content {
        font-weight: lighter
    }

    .tab {
        a {
            color:#80cbc4;
            cursor: pointer;
            
            &:hover {
                color:#26a69a 
            }
        }
    }
}